
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome app #1, running on azure web app for containers !</h2>
<h3>Now running this through CI and CD!, make more changes to see how it looks !</h3>

